* {
    margin: 0;
    padding: 0;
}

body {
    background-color: olivedrab;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white; /* Set text color to white */
    position: absolute;
    left: 550px;
    top: 30px;
}

.page-content {
    color: white; /* Set text color to white */
    text-align: center; /* Align text to the right */
}

.btn1 {
    position: relative;
    bottom: 25px;

    background-color: #2d2828;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 40px;
    width: 100px;
}
.product-image {
    max-width: 200px; /* Set the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
}